[submodule "tested-repos/art"]
	path = tested-repos/art
	url = https://android.googlesource.com/platform/art
[submodule "tested-repos/duckdb"]
	path = tested-repos/duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "tested-repos/flameshot"]
	path = tested-repos/flameshot
	url = https://github.com/flameshot-org/flameshot.git
[submodule "tested-repos/frameworks_av"]
	path = tested-repos/frameworks_av
	url = https://android.googlesource.com/platform/frameworks/av
[submodule "tested-repos/frameworks_native"]
	path = tested-repos/frameworks_native
	url = https://android.googlesource.com/platform/frameworks/native
[submodule "tested-repos/grpc"]
	path = tested-repos/grpc
	url = https://github.com/grpc/grpc
[submodule "tested-repos/redis"]
	path = tested-repos/redis
	url = https://github.com/redis/redis.git
[submodule "tested-repos/rocksdb"]
	path = tested-repos/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "tested-repos/system_core"]
	path = tested-repos/system_core
	url = https://android.googlesource.com/platform/system/core
[submodule "tested-repos/tmux"]
	path = tested-repos/tmux
	url = https://github.com/tmux/tmux.git
